@{
    ViewData["Title"] = "Avance de efectivo";
    var tarjetas = ViewBag.Cards as List<NetBank.Core.Application.ViewModels.Product.ProductViewModel>;
    var cuentas = ViewBag.Accounts as List<NetBank.Core.Application.ViewModels.Product.ProductViewModel>;
}
@using NetBank.Core.Application.ViewModels.Transaction;
@model SaveTransactionViewModel;


<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white">
                    <h4 class="mb-0">Avances de efectivo</h4>
                </div>

                <div class="card-body">
                    @if (Model.HasError)
                    {
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <p>@Model?.Error</p>
                        </div>
                    }

                    <form method="post" asp-action="Index" asp-controller="CashAdvance">
                        <div class="mb-3">
                            <label asp-for="OriginProductId" class="form-label">Tarjetas de crédito</label>
                            <select asp-for="OriginProductId" class="form-select">
                                <option value="0">--Seleccionar--</option>
                                @if (tarjetas != null && tarjetas.Count > 0)
                                {
                                    @foreach (var i in tarjetas)
                                    {
                                        <option value="@i.AccountNumber">
                                            Tarjeta: @i.AccountNumber
                                            - Disponible: @((i.CreditLimit - i.AmountOwed) <= 0 ? 0 : (i.CreditLimit - i.AmountOwed)) DOP
                                        </option>
                                    }
                                }
                            </select>
                            <span asp-validation-for="OriginProductId" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="DestinationProductId" class="form-label">Cuentas de ahorro</label>
                            <select asp-for="DestinationProductId" class="form-select">
                                <option value="0">--Seleccionar--</option>
                                @if (cuentas != null && cuentas.Count > 0)
                                {
                                    @foreach (var i in cuentas)
                                    {
                                        <option value="@i.AccountNumber">
                                            Cuenta: @i.AccountNumber
                                            - Balance: @i.Balance DOP
                                        </option>
                                    }
                                }
                            </select>
                            <span asp-validation-for="DestinationProductId" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Amount" class="form-label">Monto:</label>
                            <input step="any" type="number" asp-for="Amount" class="form-control" />
                            <span asp-validation-for="Amount" class="text-danger"></span>
                        </div>

                        <button class="btn btn-primary w-100" type="submit">Avanzar dinero</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
