@using NetBank.Core.Application.ViewModels.Product;
@using NetBank.Core.Domain.Enums
@model List<ProductViewModel>;

@{
    ViewData["Title"] = "Home";
}

<div class="container my-5">
    <h2 class="text-center mb-4">Mis Productos</h2>
    @if (Model != null && Model.Any())
    {
        <div class="row row-cols-1 row-cols-md-3 g-4">
            @foreach (var product in Model)
            {
                <div class="col">
                    <div class="card h-100 shadow-sm">


                        @switch (product.ProductType)
                        {
                            case ProductType.CuentaAhorro:
                                <div class="card-header bg-success text-center text-white">
                                    <h3>Cuenta de Ahorro</h3>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        @if (product.IsMain)
                                        {
                                            <span class="badge bg-success">Cuenta Principal</span>
                                        }
                                    </h5>

                                    <p class="card-text">
                                        <strong>Balance:</strong> @product.Balance.ToString()
                                    </p>

                                    @if (product.CreditLimit.HasValue)
                                    {
                                        <p class="card-text">
                                            <strong>Límite de Crédito:</strong> @product.CreditLimit.Value.ToString("C")
                                        </p>
                                    }
                                </div>
                                break;

                            case ProductType.CreditCard:
                                <div class="card-header bg-primary text-center text-white">
                                    <h3>Tarjeta de Credito</h3>
                                </div>

                                <div class="card-body">
                                    <h5 class="card-title">
                                        @if (product.IsMain)
                                        {
                                            <span class="badge bg-success">Cuenta Principal</span>
                                        }
                                    </h5>


                                    @if (product.CreditLimit.HasValue)
                                    {
                                        <p class="card-text">
                                            <strong>Límite de Crédito:</strong> @product.CreditLimit.Value.ToString("C")
                                        </p>
                                    }
                                    <p class="card-text">
                                        <strong>Disponible:</strong> @((product.CreditLimit - product.AmountOwed) <= 0 ? 0 : (product.CreditLimit - product.AmountOwed))
                                    </p>
                                    <p class="card-text">
                                        <strong>Usted debe:</strong> @product.AmountOwed
                                    </p>
                                </div>
                                break;

                            case ProductType.Prestamo:
                                <div class="card-header bg-secondary text-center text-white">
                                    <h3>Prestamos</h3>
                                </div>

                                <div class="card-body">
                                    <h5 class="card-title">
                                        @if (product.IsMain)
                                        {
                                            <span class="badge bg-success">Cuenta Principal</span>
                                        }
                                    </h5>

                                    <p class="card-text">
                                        <strong>Debe:</strong> @product.AmountOwed.ToString()
                                    </p>

                                    @if (product.CreditLimit.HasValue)
                                    {
                                        <p class="card-text">
                                            <strong>Límite de Crédito:</strong> @product.CreditLimit.Value.ToString("C")
                                        </p>
                                    }
                                </div>
                            break;
                        
                        }

                        
                        <div class="card-footer text-muted">
                            @*agregue un cambio aqui de mientras que es mostrar el numero de cuenta, ya que de mientras el numero de cuenta al ser unico sera tambien
                                su identificador unico, el cambio es mostra el numero de cuenta en vez del id
                            *@
                            Numero de cuenta: @product.AccountNumber
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <div class="alert alert-info" role="alert">
            No hay productos disponibles para este usuario.
        </div>
    }
</div>
